.igmv_HarvestControl
{
	font-size:x-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border:solid 1px #97462C;
	margin:0px;
	overflow: auto;
	position: relative;
}


.igmv_HarvestCaptionHeader
{
	background-color:#CECECE;
	background-position:center ;
	background-image: url(images/header.gif);
	font-size:x-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-width:0px;
	height: 5%;
	line-height: 20px;
	color:White;
	text-align:center;
}


.igmv_HarvestDayHeader
{
	background-color:Gainsboro;
	background-position:center ;
	background-image: url(images/header.gif);
	font-size:xx-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-top:solid 1px Silver;
	border-left:solid 1px Silver;
	padding-top:0px;
	padding-right:2px;
	height: 3%;
	line-height: 15px;
	color:White;
	text-align:right;
	vertical-align:top;
}


.igmv_HarvestDay
{
	background-color:#FFFDF9;
	background-repeat:repeat-x;
	background-position:top bottom ;
	background-image: url(images/addnew.jpg);
	border-left:solid 1px Silver;
	height: 10%;
	cursor:hand;
	color:Black;
	vertical-align:top;
}


.igmv_HarvestAppointment
{
	background-color:DarkGray;
	background-repeat:repeat-x;
	font-size:xx-small;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin-top:1px;
	margin-right:1px;
	margin-left:1px;
	padding-left:1px;
	line-height: 15px;
	cursor:hand;
	color:Black;
	text-align:left;
}


.igmv_HarvestAllDayEvent
{
	background-color:White;
	background-repeat:repeat-x;
	font-size:xx-small;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border:solid 1px #000000;
	margin-top:1px;
	margin-right:1px;
	margin-left:1px;
	line-height: 15px;
	cursor:hand;
	text-align:left;
}


.igmv_HarvestNavigationButton
{
	background-color:Transparent;
	background-position:center ;
	border-width:0px;
	margin:0px;
	padding:7px 0px 0px 0px;
	position: absolute;
	top: 2px;
	width: 12px;
	cursor:hand;
}


.igmv_HarvestWeekNumber
{
	background-color:#FFFDF9;
	background-repeat:repeat-x;
	background-position:top bottom ;
	background-image: url(images/addnew.jpg);
	font-size:10pt;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border-top:solid 1px Silver;
	padding-right:1px;
	width: 20px;
	text-align:center;
}


.igmv_HarvestCompressedDay
{
	border-left:solid 1px Silver;
	height: 4%;
	vertical-align:top;
}


tr.igmv_HarvestCaptionHeader td.igmv_HarvestWeekNumber
{
	background-color:#CECECE;
	background-position:center ;
	background-image: url(images/header.gif);
	border-width:0px;
	line-height: 19px;
	height: 1%;
}


.igmv_HarvestMonthDayOfWeekHeader
{
	background-position:top ;
	background-image: url(images/itembg.jpg);
	font-size:8pt;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border-top:solid 1px Silver;
	border-bottom:solid 1px Silver;
	margin-top:1px;
	margin-right:1px;
	margin-left:1px;
	height: 5%;
	line-height: 14px;
	cursor:default;
	text-align:center;
}


.igmv_HarvestOtherMonthDayHeader
{
	background-position:center ;
	background-image: url(images/header_hover.gif);
	font-size:xx-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-top:solid 1px Silver;
	border-left:solid 1px Silver;
	padding-top:0px;
	padding-right:2px;
	height: 3%;
	line-height: 15px;
	text-align:right;
	vertical-align:top;
}


.igmv_HarvestOtherMonthDay
{
	border-left:solid 1px Silver;
	height: 12%;
	cursor:hand;
	color:Black;
	vertical-align:top;
}


.igmv_HarvestOtherCompressedDay
{
	border-left:solid 1px Silver;
	height: 4%;
	vertical-align:top;
}


.igmv_HarvestTodayHeader
{
	background-position:center ;
	background-image: url(images/active_hatch.gif);
	color:Black;
}


.igmv_HarvestToday
{
}


.igmv_HarvestSelectedAppointment
{
	background-color:#316AC5;
	color:Black;
}


.igmv_HarvestActiveDayHeader
{
	background-position:center ;
	background-image: url(images/header_hover.gif);
}


.igmv_HarvestActiveDay
{
	background-color:#97462C;
	background-image:none;
	color:White;
}


.igmv_NavigationButtonNext
{
	right: 3px;
}


.igmv_HarvestControl table
{
	border-collapse:Collapse;
}


.igmv_NavigationButtonPrev
{
	left: 3px;
}


