.igtr_HarvestControl
{
	border-width:0px;
	color:Black;
}


.igtr_HarvestIsland
{
}


.igtr_HarvestNode
{
	color:#4B4B4B;
}


.igtr_HarvestParent
{
}


.igtr_HarvestLeaf
{
	margin-top:0px;
	margin-bottom:0px;
	color:Black;
}


.igtr_HarvestEdit
{
}


.igtr_HarvestRoot
{
	font-weight:bold;
	color:#97462C;
}


.igtr_HarvestHover
{
	cursor:hand;
	color:#97462C;
	text-decoration:underline;
}


.igtr_HarvestSelected
{
	font-weight:bold;
	color:#97462C;
}


.igtr_HarvestDisabled
{
	color:#E1E1E1;
}


