<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.20.0" targetFramework="net35" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.0.0-beta0003" targetFramework="net35" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net35" />
  <package id="Microsoft.SqlServer.Types" version="11.0.0" targetFramework="net35" />
  <package id="ReportViewerCommon" version="11.0.0.0" targetFramework="net35" />
</packages>