.igtxt_Office2007SilverEditWithButtons
{
	font-family: Verdana;
	border:solid 1px #A9B1B8;
}


.igtxt_Office2007SilverEdit
{
	background-color:#E8EAEC;
	font-family: Verdana;
	border:solid 1px #A9B1B8;
}


.igtxt_Office2007SilverEditInContainer
{
	background-color:#E8E8E8;
	border-width:0px;
	margin:0px;
	padding-top:0px;
	padding-bottom:0px;
}


.igtxt_Office2007SilverButton
{
	background-color:#E8E8E8;
	font-size:1px;
	border:solid 1px #E8E8E8;
}


.igtxt_Office2007SilverButtonHover
{
	background-color:#FFDA7A;
	border:solid 1px #898989;
}


.igtxt_Office2007SilverButtonPressed
{
	background-color:#FFA738;
	border:solid 1px #898989;
}


.igtxt_Office2007SilverButtonDisabled
{
	background-color: LightGrey;
	border:solid 1px White;
}


