.igdv_ClaymationControl
{
}


.igdv_ClaymationCaptionHeader
{
	background-color:#CECECE;
	background-repeat:repeat-x;
	background-image: url(images/monthview_header.jpg);
	font-weight:bold;
	font-size:8pt;
	font-family: Arial, Helvetica, sans-serif;
	border-right:solid 1px #9E9E9E;
	border-bottom:solid 1px #9E9E9E;
	line-height: 16px;
	height: 17px;
	color:Black;
	text-align:center;
}


.igdv_ClaymationDayHeader
{
	background-color:#DAEAFF;
	font-size:8pt;
	font-family: Arial, Helvetica, sans-serif;
	border:solid 1px #F4F4F4;
	border-right-color:#999999;
	padding-left:2px;
	height: 20px;
	white-space: nowrap;
	color:Black;
	text-align:center;
	vertical-align:middle;
}


.igdv_ClaymationNonWorkingTimeSlot
{
	background-color:Gainsboro;
	border-right:solid 1px #999999;
	border-bottom:solid 1px #C0C0C0;
	height: 20px;
}


.igdv_ClaymationWorkingTimeSlot
{
	background-color:#FAFAFA;
	border-right:solid 1px #999999;
	border-bottom:solid 1px #C0C0C0;
	height: 20px;
}


.igdv_ClaymationAllDayEventArea
{
	background-color:#FAFAFA;
}


.igdv_ClaymationAllDayEvent
{
	background-color:WhiteSmoke;
	font-size:8pt;
	font-family: Tahoma,Verdana;
	border-width:1px;
	border-color:#0C0C03;
	padding-left:3px;
	height: 25px;
	white-space: nowrap;
	text-align:center;
}


.igdv_ClaymationAppointment
{
	background-color:White;
	font-size:8pt;
	font-family: Tahoma,Verdana;
	border:solid 1px #999999;
}


.igdv_ClaymationActivityEdge
{
	font-size:1px;
	height: 4px;
	cursor:n-resize;
}


.igdv_ClaymationActivityEdgeLeft
{
	font-size:2px;
	width: 6px;
	cursor:move;
}


.igdv_ClaymationTodayHeader
{
	background-color:#CECECE;
	background-repeat:repeat-x;
	background-image: url(images/dayview_day_header.jpg);
	border-width:0px;
	height: 17px;
}


.igdv_ClaymationTimeSlotLabel
{
	background-color:#FAFAFA;
	background-repeat:repeat-x;
	background-position:top top ;
	background-image: url(images/header.png);
	font-size:16pt;
	font-family: Arial, Helvetica, sans-serif;
	border-width:0px;
	border-right:solid 1px #A8A8A8;
	border-bottom:solid 1px #A8A8A8;
	width: 60px;
	text-align:center;
	vertical-align:top;
}


.igdv_ClaymationTimeSlotLabelMinutes
{
	font-size:8pt;
	font-family: Arial, Helvetica, sans-serif;
}


.igdv_ClaymationAllDayEventSelected
{
	background-color:#D0D0D0;
	border-top-width:2px;
	border-bottom-width:2px;
}


.igdv_ClaymationAllDayEventAreaSelected
{
	background-color:White;
}


.igdv_ClaymationActivityHover
{
	z-index: 10000;
}


.igdv_ClaymationActivityEdgeBusy
{
	background-color:Silver;
}


.igdv_ClaymationActivityEdgeTentative
{
	background-color:#90C0FF;
}


.igdv_ClaymationActivityEdgeOutofOffice
{
	background-color:#900090;
}


.igdv_ClaymationActivityEdgeFree
{
	background-color:#F0F0F0;
}


.igdv_ClaymationNavigationButton
{
	background-color:Transparent;
	border-width:0px;
	width: 17px;
	vertical-align:middle;
}


.igdv_ClaymationSelectedAppointment
{
	z-index: 9999;
}


