.igdv_TrendyControl
{
}


.igdv_TrendyCaptionHeader
{
	background-color:#FAFAFA;
	background-repeat:repeat-x;
	background-position:center ;
	background-image: url(images/header.gif);
	font-weight:bold;
	font-size:8pt;
	font-family: Arial, Helvetica, sans-serif;
	border-right:solid 1px #109A48;
	border-bottom:solid 1px #109A48;
	border-left:solid 1px #109A48;
	height: 24px;
	color:#109A48;
	text-align:center;
}


.igdv_TrendyDayHeader
{
	background-color:#DAEAFF;
	background-image: url(images/bg_diagonal.gif);
	font-size:8pt;
	font-family: Arial, Helvetica, sans-serif;
	border:solid 1px #F4F4F4;
	border-right-color:#999999;
	padding-left:2px;
	height: 20px;
	white-space: nowrap;
	color:Black;
	text-align:center;
	vertical-align:middle;
}


.igdv_TrendyNonWorkingTimeSlot
{
	background-color:WhiteSmoke;
	border-right:solid 1px #999999;
	border-bottom:solid 1px #109A48;
	height: 20px;
}


.igdv_TrendyWorkingTimeSlot
{
	background-color:White;
	border-right:solid 1px #999999;
	border-bottom:solid 1px #E6EDF7;
	height: 20px;
}


.igdv_TrendyAllDayEventArea
{
	background-color:#FAFAFA;
}


.igdv_TrendyAllDayEvent
{
	background-color:WhiteSmoke;
	font-size:8pt;
	font-family: Tahoma,Verdana;
	border-width:1px;
	border-color:#6EDF73;
	padding-left:3px;
	height: 25px;
	white-space: nowrap;
	text-align:center;
}


.igdv_TrendyAppointment
{
	background-color:White;
	font-size:8pt;
	font-family: Tahoma,Verdana;
	border:solid 1px #999999;
}


.igdv_TrendyActivityEdge
{
	font-size:1px;
	height: 4px;
	cursor:n-resize;
}


.igdv_TrendyActivityEdgeLeft
{
	font-size:2px;
	width: 6px;
	cursor:move;
}


.igdv_TrendyTodayHeader
{
	background-color:Black;
	background-repeat:repeat-x;
	background-image: url(images/bg_diagonal.gif);
	border-width:0px;
	height: 17px;
	color:Black;
}


.igdv_TrendyTimeSlotLabel
{
	background-color:#F0F0F0;
	background-position:bottom ;
	background-image: url(images/footer.gif);
	font-size:16pt;
	font-family: Arial, Helvetica, sans-serif;
	border-right:solid 1px #006F4A;
	border-bottom:solid 1px #006F4A;
	width: 60px;
	color:#006F4A;
	text-align:center;
	vertical-align:top;
}


.igdv_TrendyTimeSlotLabelMinutes
{
	font-size:8pt;
	font-family: Arial, Helvetica, sans-serif;
}


.igdv_TrendyAllDayEventSelected
{
	background-color:#D0D0D0;
	border-top-width:2px;
	border-bottom-width:2px;
}


.igdv_TrendyAllDayEventAreaSelected
{
	background-color:White;
}


.igdv_TrendyActivityHover
{
	z-index: 10000;
}


.igdv_TrendyActivityEdgeBusy
{
	background-color:#E6EDF7;
}


.igdv_TrendyActivityEdgeTentative
{
	background-color:#90C0FF;
}


.igdv_TrendyActivityEdgeOutofOffice
{
	background-color:#900090;
}


.igdv_TrendyActivityEdgeFree
{
	background-color:#F0F0F0;
}


.igdv_TrendyNavigationButton
{
	background-color:Transparent;
	border-width:0px;
	width: 17px;
	vertical-align:middle;
}


.igdv_TrendySelectedAppointment
{
	z-index: 9999;
}


