.igtxt_TrendyEditWithButtons
{
	background-position:bottom ;
	background-image: url(images/footer.gif);
	font-family: Verdana;
	border:solid 1px #139C47;
}


.igtxt_TrendyEdit
{
	background-position:bottom ;
	background-image: url(images/footer.gif);
	font-family: Verdana;
	border:solid 1px #139C47;
}


.igtxt_TrendyEditInContainer
{
	background-color:Transparent;
	border-width:0px;
	margin:0px;
	padding-top:0px;
	padding-bottom:0px;
}


.igtxt_TrendyButton
{
	background-color:#139C47;
	font-size:1px;
	border:solid 1px #EAF2FB;
}


.igtxt_TrendyButtonHover
{
	background-color:#B4B4B4;
	border:solid 1px #ABC1DE;
}


.igtxt_TrendyButtonPressed
{
	background-color:#FFA738;
	border:solid 1px #ABC1DE;
}


.igtxt_TrendyButtonDisabled
{
	background-color:#EAF2FB;
	border:solid 1px White;
}


