.igwv_PeachControl
{
	border:solid 0px #97462C;
	margin-top:2px;
}


.igwv_PeachCaptionHeader
{
	background-color:#CECECE;
	background-repeat:repeat-x;
	background-position:center ;
	background-image: url(images/header_hover.gif);
	font-weight:bold;
	font-size:8pt;
	font-family: Arial, Helvetica, sans-serif;
	border-top:solid 1px #97462C;
	border-right:solid 1px #97462C;
	border-bottom:solid 0px #97462C;
	border-left:solid 1px #97462C;
	padding-top:4px;
	padding-bottom:2px;
	line-height: 16px;
	height: 17px;
	color:#97462C;
	text-align:center;
}


.igwv_PeachDayHeader
{
	background-color:White;
	background-repeat:repeat-x;
	background-position:center ;
	background-image: url(images/header.gif);
	font-size:8pt;
	font-family: Arial, Helvetica, sans-serif;
	padding:0px 2px 0px 0px;
	height: 18px;
	cursor:default;
	text-align:right;
}


.igwv_PeachDay
{
	background-position:bottom ;
	background-image: url(images/addnew.jpg);
	font-size:8pt;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
	cursor:hand;
}


.igwv_PeachAppointment
{
	margin:0px 1px 0px 1px;
	padding:2px;
	line-height: 150%;
	white-space: nowrap;
	cursor:pointer;
}


.igwv_PeachAllDayEvent
{
	background-color:#FAFAFA;
	border:solid 1px Silver;
}


.igwv_PeachNavigationButton
{
	background-color:Transparent;
	border-width:0px;
	width: 17px;
	cursor:hand;
	vertical-align:middle;
}


.igwv_PeachDayArea
{
	border:solid 1px #97462C;
}


.igwv_PeachTodayHeader
{
	background-color:White;
	background-repeat:repeat-x;
	background-position:center ;
	background-image: url(images/header_hover.gif);
	font-weight:bold;
	color:#97462C;
}


.igwv_PeachToday
{
}


.igwv_PeachSelectedAppointment
{
	background-color:#DAEAFF;
	margin-top:1px;
	margin-right:1px;
	margin-left:1px;
	padding:1px;
	cursor:pointer;
	color:#97462C;
}


.igwv_PeachActiveDayHeader
{
	background-color:#97462C;
	background-repeat:repeat-x;
	background-position:center ;
	background-image:none;
	font-weight:bold;
	color:White;
}


.igwv_PeachActiveDay
{
	background-color:#E1E1E1;
}


