.igtab_SpringGreenControl
{
	background-color:White;
	background-position:bottom ;
	background-image: url(images/addnew.jpg);
	border:solid 1px #4C7B04;
}


.igtab_SpringGreenControl_Outer
{
	border-left-width:0px;
	border-left-style:solid;
}


.igtab_SpringGreenDefaultTab_Top
{
	background-color:#E9FFE0;
	background-image: url(images/tab_top_normal_f.gif);
	font-size:9pt;
	font-family: Tahoma;
	border:solid 1px #4C7B04;
	padding:2px 5px 2px 5px;
	text-align:center;
}


.igtab_SpringGreenDefaultTab_Top_Rounded
{
	background-color:Transparent !important;
	background-image: url(images/tab_top_normal.gif);
	font-size:10pt;
	font-family: Tahoma;
	border-style:solid;
	border-width:0px;
	border-bottom-width:1px;
	border-bottom-color:#535353;
	padding:2px 6px 1px 10px;
	height: 100%;
	cursor:pointer;
	color:#969696;
	text-align:center;
}


.igtab_SpringGreenDefaultTab_Top_Edge
{
	background-position:right top ;
	font-size:2px;
	padding:0px;
}


.igtab_SpringGreenButton
{
}


.igtab_SpringGreenDefaultTab_Bottom
{
	background-color:#E9FFE0;
	background-position:bottom ;
	background-image: url(images/tab_bottom_normal_f.gif);
	font-size:9pt;
	font-family: Tahoma;
	border:solid 1px #4C7B04;
	padding:2px 5px 2px 5px;
}


.igtab_SpringGreenDefaultTab_Bottom_Rounded
{
	background-color:Transparent !important;
	background-repeat:no-repeat;
	background-position:left bottom ;
	background-image: url(images/tab_bottom_normal.gif);
	font-size:9pt;
	font-family: Tahoma;
	border:solid 1px #535353;
	border-right-width:0px;
	border-bottom-width:0px;
	border-left-width:0px;
	padding:3px 5px 4px 7px;
	height: 100%;
	cursor:pointer;
	color:#878787;
}


.igtab_SpringGreenDefaultTab_Bottom_Edge
{
	background-position:right bottom ;
	font-size:2px;
	padding:0px;
}


.igtab_SpringGreenDefaultTab_Left
{
	background-color:#E9FFE0;
	background-image: url(images/tab_left_normal_f.gif);
	font-size:9pt;
	font-family: Tahoma;
	border:solid 1px #4C7B04;
	padding:5px 2px 5px 2px;
}


.igtab_SpringGreenDefaultTab_Left_Rounded
{
	background-color:Transparent !important;
	background-repeat:no-repeat;
	background-position:left top ;
	background-image: url(images/tab_left_normal.gif);
	font-size:9pt;
	font-family: Tahoma;
	border:solid 1px #535353;
	border-top-width:0px;
	border-bottom-width:0px;
	border-left-width:0px;
	margin-top:0px;
	margin-right:5px;
	margin-bottom:0px;
	padding:8px 0px 0px 4px;
	cursor:pointer;
	color:#969696;
}


.igtab_SpringGreenDefaultTab_Left_Edge
{
	background-position:left bottom ;
	font-size:2px;
	padding:3px;
}


.igtab_SpringGreenDefaultTab_Right
{
	background-color:#E9FFE0;
	background-position:right ;
	background-image: url(images/tab_right_normal_f.gif);
	font-size:9pt;
	font-family: Tahoma;
	border:solid 1px #4C7B04;
	padding:5px 2px 5px 2px;
}


.igtab_SpringGreenDefaultTab_Right_Rounded
{
	background-color:Transparent !important;
	background-repeat:no-repeat;
	background-position:right top ;
	background-image: url(images/tab_right_normal.gif);
	font-size:9pt;
	font-family: Tahoma;
	border:solid 1px #535353;
	border-top-width:0px;
	border-right-width:0px;
	border-bottom-width:0px;
	padding:5px 4px 7px 0px;
	cursor:pointer;
	color:#969696;
}


.igtab_SpringGreenDefaultTab_Right_Edge
{
	background-position:right bottom ;
	font-size:2px;
	padding:0px;
}


.igtab_SpringGreenButtonHover
{
}


.igtab_SpringGreenButtonPressed
{
}


.igtab_SpringGreenButtonDisabled
{
}


.igtab_SpringGreenHoverTab_Top
{
	background-color:#F0F0FF;
	background-image: url(images/tab_top_hover_f.gif);
}


.igtab_SpringGreenSeparator_Top
{
	border-bottom:solid 1px #4C7B04;
	border-top-width:0px;
	border-right-width:0px;
	border-left-width:0px;
}


.igtab_SpringGreenHoverTab_Top_Rounded
{
	background-image: url(images/tab_top_hover.gif);
	border-bottom:solid 1px #535353;
	color:Black;
}


.igtab_SpringGreenHoverTab_Bottom
{
	background-color:#F0F0FF;
	background-image: url(images/tab_bottom_hover_f.gif);
}


.igtab_SpringGreenSeparator_Bottom
{
	border-top:solid 1px #535353;
	border-right-width:0px;
	border-bottom-width:0px;
	border-left-width:0px;
}


.igtab_SpringGreenHoverTab_Bottom_Rounded
{
	background-image: url(images/tab_bottom_hover.gif);
	color:Black;
}


.igtab_SpringGreenHoverTab_Left
{
	background-color:#F0F0FF;
	background-image: url(images/tab_left_hover_f.gif);
}


.igtab_SpringGreenSeparator_Left
{
	border-right:solid 1px #535353;
	border-top-width:0px;
	border-bottom-width:0px;
	border-left-width:0px;
}


.igtab_SpringGreenHoverTab_Left_Rounded
{
	background-image: url(images/tab_left_hover.gif);
	color:Black;
}


.igtab_SpringGreenHoverTab_Right
{
	background-color:#F0F0FF;
	background-image: url(images/tab_right_hover_f.gif);
}


.igtab_SpringGreenSeparator_Right
{
	border-left:solid 1px #535353;
	border-top-width:0px;
	border-right-width:0px;
	border-bottom-width:0px;
}


.igtab_SpringGreenHoverTab_Right_Rounded
{
	background-image: url(images/tab_right_hover.gif);
	color:Black;
}


.igtab_SpringGreenSelectedTab_Top
{
	background-color:#4C7B04;
	background-image: url(images/tab_top_f.gif);
	color:White;
}


.igtab_SpringGreenSelectedTab_Top_Rounded
{
	background-image: url(images/tab_top.gif);
	border-width:0px;
	border-bottom:solid 1px #878787;
	cursor:default;
	color:White;
}


.igtab_SpringGreenSelectedTab_Bottom
{
	background-color:#4C7B04;
	background-image: url(images/tab_bottom_f.gif);
	color:White;
}


.igtab_SpringGreenSelectedTab_Bottom_Rounded
{
	background-image: url(images/tab_bottom.gif);
	cursor:default;
	color:White;
}


.igtab_SpringGreenSelectedTab_Left
{
	background-color:#4C7B04;
	background-image: url(images/tab_left_f.gif);
	color:White;
}


.igtab_SpringGreenSelectedTab_Left_Rounded
{
	background-image: url(images/tab_left.gif);
	border-color:#535353;
	cursor:default;
	color:White;
}


.igtab_SpringGreenSelectedTab_Right
{
	background-color:#4C7B04;
	background-image: url(images/tab_right_f.gif);
	color:White;
}


.igtab_SpringGreenSelectedTab_Right_Rounded
{
	background-image: url(images/tab_right.gif);
	cursor:default;
	color:White;
}


.igtab_SpringGreenDisabledTab_Top
{
	color:White;
}


.igtab_SpringGreenDisabledTab_Top_Rounded
{
	color:White;
}


.igtab_SpringGreenDisabledTab_Bottom
{
	color:White;
}


.igtab_SpringGreenDisabledTab_Bottom_Rounded
{
	color:White;
}


.igtab_SpringGreenDisabledTab_Left
{
	color:White;
}


.igtab_SpringGreenDisabledTab_Left_Rounded
{
	color:White;
}


.igtab_SpringGreenDisabledTab_Right
{
	color:White;
}


.igtab_SpringGreenDisabledTab_Right_Rounded
{
	color:White;
}


