.igwv_SpringGreenControl
{
	border-width:0px;
	margin-top:2px;
}


.igwv_SpringGreenCaptionHeader
{
	background-color:#CECECE;
	background-repeat:repeat-x;
	background-position:center ;
	background-image: url(images/header_hover.gif);
	font-weight:bold;
	font-size:8pt;
	font-family: Arial, Helvetica, sans-serif;
	border:solid 1px #4C7B04;
	border-bottom-width:0px;
	padding-top:3px;
	padding-bottom:2px;
	line-height: 16px;
	height: 17px;
	color:Black;
	text-align:center;
}


.igwv_SpringGreenDayHeader
{
	background-color:White;
	background-repeat:repeat-x;
	background-position:center ;
	background-image: url(images/header.gif);
	font-size:8pt;
	font-family: Arial, Helvetica, sans-serif;
	padding:0px 2px 0px 0px;
	height: 18px;
	cursor:default;
	color:White;
	text-align:right;
}


.igwv_SpringGreenDay
{
	background-position:bottom ;
	background-image: url(images/addnew.jpg);
	font-size:8pt;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
	cursor:hand;
}


.igwv_SpringGreenAppointment
{
	margin:0px 1px 0px 1px;
	padding:2px;
	line-height: 150%;
	white-space: nowrap;
	cursor:pointer;
}


.igwv_SpringGreenAllDayEvent
{
	background-color:#FAFAFA;
	border:solid 1px Silver;
}


.igwv_SpringGreenNavigationButton
{
	background-color:Transparent;
	border-width:0px;
	width: 17px;
	cursor:hand;
	vertical-align:middle;
}


.igwv_SpringGreenDayArea
{
	border:solid 1px #4C7B04;
}


.igwv_SpringGreenTodayHeader
{
	background-color:#878787;
	background-repeat:repeat-x;
	background-position:top center ;
	background-image:none;
	font-weight:bold;
	color:White;
}


.igwv_SpringGreenToday
{
	background-color:Gainsboro;
}


.igwv_SpringGreenSelectedAppointment
{
	background-color:#DAEAFF;
	margin-top:1px;
	margin-right:1px;
	margin-left:1px;
	padding:1px;
	cursor:pointer;
	color:#4C7B04;
}


.igwv_SpringGreenActiveDayHeader
{
	background-color:Gray;
	background-repeat:repeat-x;
	background-position:center ;
	color:White;
}


.igwv_SpringGreenActiveDay
{
	background-color:#F8F8F8;
	background-image: url(images/vertical.gif);
}


