.igmv_PearControl
{
	font-size:x-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border:solid 1px #4F7600;
	margin:0px;
	overflow: auto;
	position: relative;
}


.igmv_PearCaptionHeader
{
	background-color:#636A4C;
	font-weight:bold;
	font-size:x-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-width:0px;
	height: 1%;
	line-height: 20px;
	color:White;
	text-align:center;
}


.igmv_PearDayHeader
{
	background-color:#BBD17E;
	font-size:xx-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-top:solid 1px WhiteSmoke;
	border-left:solid 1px WhiteSmoke;
	padding-top:0px;
	padding-right:2px;
	height: 3%;
	line-height: 15px;
	text-align:right;
	vertical-align:top;
}


.igmv_PearDay
{
	background-color:#D5E88F;
	border-left:solid 1px WhiteSmoke;
	height: 12%;
	cursor:hand;
	color:Black;
	vertical-align:top;
}


.igmv_PearAppointment
{
	background-color:DarkGray;
	background-repeat:repeat-x;
	font-size:xx-small;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin-top:1px;
	margin-right:1px;
	margin-left:1px;
	padding-left:1px;
	line-height: 15px;
	cursor:hand;
	text-align:left;
}


.igmv_PearAllDayEvent
{
	background-color:White;
	background-repeat:repeat-x;
	font-size:xx-small;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border:solid 1px #000000;
	margin-top:1px;
	margin-right:1px;
	margin-left:1px;
	line-height: 15px;
	cursor:hand;
	text-align:left;
}


.igmv_PearNavigationButton
{
	background-color:Transparent;
	border-width:0px;
	margin:0px;
	padding:0px;
	position: absolute;
	top: 2px;
	width: 12px;
	cursor:hand;
}


.igmv_PearWeekNumber
{
	background-color:#F0F0F0;
	font-size:10pt;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border-top:solid 1px Silver;
	padding-right:1px;
	width: 20px;
	text-align:center;
}


.igmv_PearCompressedDay
{
	border-left:solid 1px Silver;
	height: 4%;
	vertical-align:top;
}


tr.igmv_PearCaptionHeader td.igmv_PearWeekNumber
{
	background-color:#636A4C;
	border-width:0px;
	line-height: 19px;
	height: 1%;
}


.igmv_PearMonthDayOfWeekHeader
{
	background-color:#F0F0F0;
	font-size:8pt;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border-top:solid 1px Silver;
	border-bottom:solid 1px Silver;
	margin-top:1px;
	margin-right:1px;
	margin-left:1px;
	height: 1%;
	line-height: 14px;
	cursor:default;
	text-align:center;
}


.igmv_PearOtherMonthDayHeader
{
	background-color:#C2D282;
	font-size:xx-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-top:solid 1px WhiteSmoke;
	border-left:solid 1px WhiteSmoke;
	padding-top:0px;
	padding-right:2px;
	height: 3%;
	line-height: 15px;
	color:#DCEF94;
	text-align:right;
	vertical-align:top;
}


.igmv_PearOtherMonthDay
{
	background-color:#C2D282;
	border-left:solid 1px WhiteSmoke;
	height: 12%;
	cursor:hand;
	color:Black;
	vertical-align:top;
}


.igmv_PearOtherCompressedDay
{
	border-left:solid 1px Silver;
	height: 4%;
	vertical-align:top;
}


.igmv_PearTodayHeader
{
}


.igmv_PearToday
{
}


.igmv_PearSelectedAppointment
{
	background-color:#316AC5;
	color:White;
}


.igmv_PearActiveDayHeader
{
	background-color:#636A4C;
	color:White;
}


.igmv_PearActiveDay
{
	background-color:#F0F0F0;
}


.igmv_NavigationButtonPrev
{
	left: 3px;
}


.igmv_NavigationButtonNext
{
	right: 3px;
}


.igmv_PearControl table
{
	border-collapse:Collapse;
}


