.igtxt_RubberBlackEditWithButtons
{
	background-position:top ;
	background-image: url(images/gradient.png);
	font-family: Verdana;
	border:solid 1px DimGray;
}


.igtxt_RubberBlackEdit
{
	background-color:#F0F0F0;
	background-position:top ;
	background-image: url(images/gradient.png);
	font-family: Verdana;
	border:solid 1px DimGray;
}


.igtxt_RubberBlackEditInContainer
{
	background-color:#F0F0F0;
	background-position:top ;
	background-image: url(images/gradient.png);
	border-width:0px;
	margin:0px;
	padding-top:0px;
	padding-bottom:0px;
}


.igtxt_RubberBlackButton
{
	background-color:Silver;
	font-size:1px;
	border:solid 1px WhiteSmoke;
}


.igtxt_RubberBlackButtonHover
{
	background-color:#F0F0F0;
	border:solid 0px Blue;
}


.igtxt_RubberBlackButtonPressed
{
	background-color:#BBBCBE;
	border:solid 0px White;
}


.igtxt_RubberBlackButtonDisabled
{
	background-color:Gainsboro;
	border:solid 1px White;
}


