vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Jun 2007 22:24:42 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|13 Jun 2007 22:24:42 -0000
vti_filesize:IR|2986
vti_cachedlinkinfo:VX|S|images/bg_top.gif S|images/blank.gif S|images/bg_top.gif S|images/bg_top.gif S|images/itembg.jpg S|images/blank.gif S|images/header.gif S|images/header_hover.gif
vti_cachedsvcrellinks:VX|FSUS|AlfaNet/ig_res/ElectricBlue/images/bg_top.gif FSUS|AlfaNet/ig_res/ElectricBlue/images/blank.gif FSUS|AlfaNet/ig_res/ElectricBlue/images/bg_top.gif FSUS|AlfaNet/ig_res/ElectricBlue/images/bg_top.gif FSUS|AlfaNet/ig_res/ElectricBlue/images/itembg.jpg FSUS|AlfaNet/ig_res/ElectricBlue/images/blank.gif FSUS|AlfaNet/ig_res/ElectricBlue/images/header.gif FSUS|AlfaNet/ig_res/ElectricBlue/images/header_hover.gif
vti_lineageid:SR|{4BCD3FC2-4BF3-4185-ABE0-BA700F448EE0}
vti_backlinkinfo:VX|
