vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Jul 2007 23:31:33 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|11 Jul 2007 23:31:33 -0000
vti_filesize:IR|1348
vti_cachedlinkinfo:VX|S|images/tab_bottom_hover_f.gif S|images/header.gif S|images/header.gif
vti_cachedsvcrellinks:VX|FSUS|AlfaNet/ig_res/BlueGel/images/tab_bottom_hover_f.gif FSUS|AlfaNet/ig_res/BlueGel/images/header.gif FSUS|AlfaNet/ig_res/BlueGel/images/header.gif
vti_lineageid:SR|{B747F383-6546-4F2D-9F47-F15401AC987A}
vti_backlinkinfo:VX|
