vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|16 Feb 2007 20:47:14 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|16 Feb 2007 20:47:14 -0000
vti_filesize:IR|3806
vti_cachedlinkinfo:VX|S|images/tab_bottom_f.gif S|images/addnew.gif S|images/tab_bottom_hover_f.gif S|images/submit_disable.gif S|images/alt_item.gif S|images/header.gif S|images/header.gif
vti_cachedsvcrellinks:VX|FSUS|AlfaNet/ig_res/BlueGel/images/tab_bottom_f.gif FSUS|AlfaNet/ig_res/BlueGel/images/addnew.gif FSUS|AlfaNet/ig_res/BlueGel/images/tab_bottom_hover_f.gif FSUS|AlfaNet/ig_res/BlueGel/images/submit_disable.gif NSUS|AlfaNet/ig_res/BlueGel/images/alt_item.gif FSUS|AlfaNet/ig_res/BlueGel/images/header.gif FSUS|AlfaNet/ig_res/BlueGel/images/header.gif
vti_lineageid:SR|{88E9F22B-3130-4C8A-A407-A30F778DC4EB}
vti_backlinkinfo:VX|
