vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Jul 2007 23:31:33 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|11 Jul 2007 23:31:33 -0000
vti_filesize:IR|3074
vti_cachedlinkinfo:VX|S|images/tab_bottom_f.gif S|images/addnew.gif S|images/tab_bottom_hover_f.gif S|images/submit_disable.gif S|images/alt_item.gif S|images/header.gif S|images/header.gif
vti_cachedsvcrellinks:VX|FSUS|AlfaNet/ig_res/BlueGel/images/tab_bottom_f.gif FSUS|AlfaNet/ig_res/BlueGel/images/addnew.gif FSUS|AlfaNet/ig_res/BlueGel/images/tab_bottom_hover_f.gif FSUS|AlfaNet/ig_res/BlueGel/images/submit_disable.gif NSUS|AlfaNet/ig_res/BlueGel/images/alt_item.gif FSUS|AlfaNet/ig_res/BlueGel/images/header.gif FSUS|AlfaNet/ig_res/BlueGel/images/header.gif
vti_lineageid:SR|{75EAC5CF-02E9-47A8-81EF-C02173AA67E7}
vti_backlinkinfo:VX|
