vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Jul 2007 23:31:34 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|11 Jul 2007 23:31:34 -0000
vti_filesize:IR|1233
vti_cachedlinkinfo:VX|S|images/tab_bottom_hover_f.gif S|images/header.gif S|images/header.gif
vti_cachedsvcrellinks:VX|FSUS|AlfaNet/ig_res/BlueGel/images/tab_bottom_hover_f.gif FSUS|AlfaNet/ig_res/BlueGel/images/header.gif FSUS|AlfaNet/ig_res/BlueGel/images/header.gif
vti_lineageid:SR|{B4BE9F8C-8241-4B9E-9D08-25117C7C93B8}
vti_backlinkinfo:VX|
