vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Jul 2007 23:31:33 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|11 Jul 2007 23:31:33 -0000
vti_filesize:IR|2049
vti_cachedlinkinfo:VX|S|images/bluegel.jpg S|images/addnew.gif S|images/button_bg.png S|images/addnew.gif S|images/addnew.gif
vti_cachedsvcrellinks:VX|FSUS|AlfaNet/ig_res/BlueGel/images/bluegel.jpg FSUS|AlfaNet/ig_res/BlueGel/images/addnew.gif FSUS|AlfaNet/ig_res/BlueGel/images/button_bg.png FSUS|AlfaNet/ig_res/BlueGel/images/addnew.gif FSUS|AlfaNet/ig_res/BlueGel/images/addnew.gif
vti_lineageid:SR|{2AC9D52C-289E-4944-B52E-73E00A95D1BF}
vti_backlinkinfo:VX|
