vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Jul 2007 23:31:33 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|11 Jul 2007 23:31:33 -0000
vti_filesize:IR|724
vti_cachedlinkinfo:VX|S|images/tab_bottom_hover_f.gif S|images/header.gif
vti_cachedsvcrellinks:VX|FSUS|AlfaNet/ig_res/BlueGel/images/tab_bottom_hover_f.gif FSUS|AlfaNet/ig_res/BlueGel/images/header.gif
vti_lineageid:SR|{9499926B-1D51-4CC0-9D45-B0C60D0FAFB6}
vti_backlinkinfo:VX|
