vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Jul 2007 23:31:33 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|11 Jul 2007 23:31:33 -0000
vti_filesize:IR|892
vti_cachedlinkinfo:VX|S|images/addnew.gif S|images/addnew.gif
vti_cachedsvcrellinks:VX|FSUS|AlfaNet/ig_res/BlueGel/images/addnew.gif FSUS|AlfaNet/ig_res/BlueGel/images/addnew.gif
vti_lineageid:SR|{9D4ADD5F-FC43-47DD-AB2A-5979578A3F72}
vti_backlinkinfo:VX|
