vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Jul 2007 23:31:34 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|11 Jul 2007 23:31:34 -0000
vti_filesize:IR|2253
vti_cachedlinkinfo:VX|S|images/header_hover.gif S|images/header.gif S|images/addnew.gif S|images/header_orange.gif S|images/header_silver.gif
vti_cachedsvcrellinks:VX|FSUS|AlfaNet/ig_res/BlueGel/images/header_hover.gif FSUS|AlfaNet/ig_res/BlueGel/images/header.gif FSUS|AlfaNet/ig_res/BlueGel/images/addnew.gif NSUS|AlfaNet/ig_res/BlueGel/images/header_orange.gif FSUS|AlfaNet/ig_res/BlueGel/images/header_silver.gif
vti_lineageid:SR|{55BA668D-5953-43D1-BAED-9BA63AFBE264}
vti_backlinkinfo:VX|
