.igg_NautilusControl
{
	background-repeat:repeat-x;
	font-size:11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-top:solid 0px #688CAF;
	border-right:solid 1px #9EB6CE;
	border-bottom:solid 0px #9EB6CE;
	border-left:solid 1px #9EB6CE;
}


tbody.igg_NautilusItem tr td
{
	background-color:White;
	border-top:solid 1px #D0D7E5;
	padding-top:7px;
	padding-bottom:7px;
	padding-left:5px;
	text-align:left;
	vertical-align:text-top;
}


tbody tr.igg_NautilusAlt td
{
	background-color:#F6F9FB;
	padding-top:7px;
	padding-bottom:7px;
	text-align:left;
	vertical-align:text-top;
}


.igg_NautilusHeader
{
	background-color:#D2D2D2;
	background-image: url(images/igg_header.gif);
	padding-left:5px;
	height: 35px;
	color:White;
	text-align:left;
}


.igg_NautilusFooter
{
	background-color:#E4F0FA;
	background-image: url(images/igg_footer.gif);
	height: 15px;
}


.igg_NautilusSelectedCell
{
	background-color:#F76301;
	background-image: url(images/igg_selected.gif);
	color:White;
}


tbody tr td.igg_NautilusHover
{
	background-color:Navy;
}


/* Scrollbar */
.igg_NautilusHorizontalControl
{
	height: 18px;
}


.igg_NautilusLeftScrollButton
{
	background-repeat:no-repeat;
	background-image: url(./images/h_prev_up.gif);
	height: 18px;
	width: 18px;
}


.igg_NautilusLeftScrollHover
{
	background-repeat:no-repeat;
	background-image: url(./images/h_prev_hover.gif);
	height: 18px;
	width: 18px;
}


.igg_NautilusLeftScrollPressed
{
	background-repeat:no-repeat;
	background-image: url(./images/h_prev_down.gif);
	height: 18px;
	width: 18px;
}


.igg_NautilusHorizontalTrack
{
	background-repeat:repeat-x;
	background-image: url(./images/h_bg.png);
}


.igg_NautilusHorizontalTrackBar
{
	background-repeat:no-repeat;
	background-position:center ;
	background-image: url(./images/h_track_bar_up.gif);
	border:outset 1px Gray;
	height: 16px;
}


.igg_NautilusHorizontalTrackBarHover
{
	background-repeat:no-repeat;
	background-position:center ;
	background-image: url(./images/h_track_bar_hover.gif);
}


.igg_NautilusHorizontalTrackBarPressed
{
	background-repeat:no-repeat;
	background-position:center ;
	background-image: url(./images/h_track_bar_down.gif);
}


.igg_NautilusRightScrollButton
{
	background-repeat:no-repeat;
	background-image: url(./images/h_next_up.gif);
	height: 18px;
	width: 18px;
}


.igg_NautilusRightScrollHover
{
	background-repeat:no-repeat;
	background-image: url(./images/h_next_hover.gif);
	height: 18px;
	width: 18px;
}


.igg_NautilusRightScrollPressed
{
	background-repeat:no-repeat;
	background-image: url(./images/h_next_down.gif);
	height: 18px;
	width: 18px;
}


.igg_NautilusVerticalControl
{
	width: 18px;
}


.igg_NautilusUpScrollButton
{
	background-repeat:no-repeat;
	background-image: url(./images/v_prev_up.gif);
	height: 18px;
	width: 18px;
}


.igg_NautilusUpScrollHover
{
	background-repeat:no-repeat;
	background-image: url(./images/v_prev_hover.gif);
	height: 18px;
	width: 18px;
}


.igg_NautilusUpScrollPressed
{
	background-repeat:no-repeat;
	background-image: url(./images/v_prev_down.gif);
	height: 18px;
	width: 18px;
}


.igg_NautilusVerticalTrack
{
	background-repeat:repeat-y;
	background-image: url(./images/v_bg.png);
}


.igg_NautilusVerticalTrackBar
{
	background-repeat:no-repeat;
	background-position:center ;
	background-image: url(./images/v_track_bar_up.gif);
	border:outset 1px Gray;
	width: 16px;
}


.igg_NautilusVerticalTrackBarHover
{
	background-repeat:no-repeat;
	background-position:center ;
	background-image: url(./images/v_track_bar_hover.gif);
}


.igg_NautilusVerticalTrackBarPressed
{
	background-repeat:no-repeat;
	background-position:center ;
	background-image: url(./images/v_track_bar_down.gif);
}


.igg_NautilusDownScrollButton
{
	background-repeat:no-repeat;
	background-image: url(./images/v_next_up.gif);
	height: 18px;
	width: 18px;
}


.igg_NautilusDownScrollHover
{
	background-repeat:no-repeat;
	background-image: url(./images/v_next_hover.gif);
	height: 18px;
	width: 18px;
}


.igg_NautilusDownScrollPressed
{
	background-repeat:no-repeat;
	background-image: url(./images/v_next_down.gif);
	height: 18px;
	width: 18px;
}


.igg_NautilusHeaderFiller
{
	background-position:right top ;
	background-image: url(images/igg_header.gif);
}


.igg_NautilusFooterFiller
{
	background-color:#E4F0FA;
	background-image: url(images/igg_footer.gif);
	height: 15px;
}


.igg_NautilusHorizontalScrollbarFiller
{
	background-color:#E6F1FE;
}


.igg_NautilusPager
{
	background-position:bottom ;
	background-image: url(./images/igg_bottom.gif);
	padding-top:10px;
	padding-bottom:10px;
	text-align:right;
}


.igg_NautilusPageCurrent
{
	font-weight:bold;
	padding:5px;
	color:#F76301;
}


.igg_NautilusPageLink
{
	font-weight:bold;
	margin-right:10px;
	cursor:hand;
	color:White;
	text-decoration:underline;
}


.igg_NautilusEditCell
{
}


.igg_NautilusActiveCell
{
}


.igg_NautilusActiveRow
{
}


.igg_NautilusActiveColumn
{
}


.igg_NautilusHeaderCaption
{
}


.igg_NautilusFooterCaption
{
}


