vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Jun 2007 20:17:29 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|12 Jun 2007 20:17:29 -0000
vti_filesize:IR|5917
vti_cachedlinkinfo:VX|S|./images/ig_tab_rightnormal.gif S|images/tab_top_hover.gif S|images/tab_bottom.gif S|images/tab_left_hover.gif S|images/tab_right_hover.gif S|images/tab_top.gif S|images/tab_bottom_hover.gif S|images/tab_left.gif S|images/tab_right.gif
vti_cachedsvcrellinks:VX|NSUS|AlfaNet/ig_res/Default/images/ig_tab_rightnormal.gif FSUS|AlfaNet/ig_res/Default/images/tab_top_hover.gif FSUS|AlfaNet/ig_res/Default/images/tab_bottom.gif FSUS|AlfaNet/ig_res/Default/images/tab_left_hover.gif FSUS|AlfaNet/ig_res/Default/images/tab_right_hover.gif FSUS|AlfaNet/ig_res/Default/images/tab_top.gif FSUS|AlfaNet/ig_res/Default/images/tab_bottom_hover.gif FSUS|AlfaNet/ig_res/Default/images/tab_left.gif FSUS|AlfaNet/ig_res/Default/images/tab_right.gif
vti_lineageid:SR|{12541CE8-C73D-43BF-BD4A-E316A33F8124}
vti_backlinkinfo:VX|
