.igpnl_Panel
{
   	border: solid 1px #636363;
	BACKGROUND-COLOR: #FDFDFD;
	background-image:url(images/panel_bg.jpg);
	background-repeat:repeat-x;
	text-align:left;
	line-height:18px;
	height:180px !important;
	padding:16px;
}


.igpnl_HeaderExpanded
{
	padding:6px 0px 1px 18px;
	border-left: #636363 1px solid; 
	border-right: #636363 1px solid; 
	height:28px;
    font-weight: bold;
    font-size: 9pt; 
    width: 100%; 
    color: white;
    background-repeat: repeat-x; 
    font-family: Lucida Sans;
    background-image:url(images/onyxBar.gif);
}


.igpnl_HeaderExpanded IMG
{
   margin-top:-6px; 
}


.igpnl_HeaderCollapsed
{
}


.igpnl_HeaderHover
{
}


.igpnl_Control
{
   	FONT-SIZE: x-small;
	font-weight:normal;
	BACKGROUND-COLOR: #FAFAFA;
	width:100%;
	color: black;
	cursor:default;
}


.igpnl_GroupBoxControl
{
}



.igpnl_Panel DIV
{
    overflow:auto !important;
    padding-right:15px;
    overflow-x:hidden !important;
    width:auto !important;
}
